page-piechart {

}

.selectedMonth {
  width: 70px;
  display: inline;
  float: right;
  border-radius: 0 10px 10px 0;
  background-color: #ffffff;
}

.unselectedMonth {
  width: 70px;
  display: inline;
  float: right;
  border-radius: 10px 0 0 10px;
  background-color: #002e45;
}
