<style>

  .shadow {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow(-5px -5px 5px #c49846);
    filter: drop-shadow(-5px -5px 5px #c49846);
  }

  .circular-progress-bar {
    position: relative;
    margin: 0 auto;
    transform: rotate(-90deg);
  }

  .progress-percentage, .progress-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    text-align: center;
    padding: 0px 60px;
  }

  .progress-percentage {
    font-size: 60px;
    left: 60%;
  }

  .progress-text {
    left: 35%;
    color: #585858;
    font-size: 21px;
  }

  .piechart {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9%;
  }

  .progress-wrapper {
    position: relative;
  }

  .progress-wrapper .piechart_text {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    font-weight: 100;
  }

  .progress-wrapper .piechart_text_percentage {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    font-size: 2.2em;
    color: #c49846;
    font-weight: bold;
  }

  .progress-wrapper .piechart_text_left {
    position: absolute;
    top: 85%;
    left: -55%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    font-weight: 100;
    font-size: 11px;
    width: 60%;
  }

  .faturamento_ano {
    font-weight: bold;
  }

  .faturamento_ano_price {
    font-weight: bold;
    font-size: 12px;
    color: #c49846;
  }

  .progress-wrapper .piechart_text_right {
    position: absolute;
    top: 85%;
    left: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    font-weight: 100;
    font-size: 11px;
    width: 65%; /*60%*/
  }

  .faturamento_ano_anterior {
    font-weight: bold;
  }

  .faturamento_ano_anterior_price {
    font-weight: bold;
    font-size: 12px;
    color: rgb(125, 172, 160);
  }

  .progress-wrapper .piechart_text_year_left {
    position: absolute;
    top: 9%;
    left: -30%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    font-weight: 100;
    font-size: 11px;
    width: 60%;
    color: #c49846;
    font-weight: bold;
  }

  .progress-wrapper .piechart_text_year_right {
    position: absolute;
    top: 9%;
    left: 69%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    font-weight: 100;
    font-size: 11px;
    width: 60%;
    font-weight: bold;
  }

  .top_price {
    margin-bottom: 5px;
    z-index: 1;
    text-align: right;
    font-size: 12px;
  }

  .price_month {

  }

  .price_year {
    font-size: 14px;
  }

</style>

<!--
  Generated template for the PiechartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>dashboardyear</ion-title>
  </ion-navbar>

</ion-header>-->

<ion-header>
  <ion-navbar class="topBar" hideBackButton showMenuButton>
    <button ion-button menuToggle>
      <ion-icon class="menuIconBurger" name="menu"></ion-icon>
    </button>
    <ion-title><img id="topTitleImg" height="50px" src="assets/imgs/image-without-bg.png" class="thumb-img"/>
    </ion-title>
    <button ion-button menuToggle style="display:none;">
      <ion-icon class="menuIconBurger" name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
  <ion-row class="row" id="compName" justify-content-center></ion-row>
  <br/>
  <!--<ion-row id="compName" justify-content-center> {{(profileData)?.CompanyName }} </ion-row>-->
  <ion-row id="compName" justify-content-center><h5>L A Lopes Com De Cosmeticos Ltda Epp</h5></ion-row>

  <!-- <div class="container"> -->
  <ion-grid class="main-container-grid">

    <!-- Start top bar -->
    <ion-row responsive-lg>
      <ion-grid id="threeItemBar">
        <!-- Table Headers -->
        <ion-row class="table-headers">
          <ion-col class="table-headers">
            FATURAMENTO
          </ion-col>
          <ion-col class="table-headers">
            IMPOSTOS
            PREVISTOS
          </ion-col>
          <ion-col class="table-headers">
            PRÓXIMO
            PAGAMENTO
          </ion-col>
        </ion-row>
        <!-- End table headers -->
        <!-- Table values -->
        <ion-row class="valuesTop">
          <ion-col class="valuesTop">
            <span class="price_year">R$ {{getTotalExtratosCurrentYear() | number : '1.2-2'}}</span>
          </ion-col>
          <ion-col class="valuesTop">
            <span class="price_year">R$ {{getImpostosPrevistos('18') | number : '1.2-2'}}</span>
          </ion-col>
          <ion-col class="valuesTop">
            <!--DD/MM-->
            <!--<span class="price_year">{{getProximoPagamentoDays()}}/{{getProximoPagamentoMonth()}}</span>-->
            <span class="price_year">12/{{getProximoPagamentoMonth()}}</span>
            <br/>
            <span class="issqn">ISSQN</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!-- END top bar -->

    <div class='row topbartable'></div>

    <!-- Top bar button -->
    <ion-row>
      <ion-grid id="threeItemBar">
        <ion-row class="table-headers">
          <ion-col></ion-col>
          <ion-col>
            <button data-action="false" class="selectedMonth">Este ano</button>
            <button data-action="true" class="unselectedMonth" (click)="displayMonthlyChart()">Este mês</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!-- End top bar button -->

    <!-- Middle content  -->
    <ion-grid>
      <ion-row height="50%" style="margin-top: 25px; margin-bottom: 15px;">
        <!-- Charts -->
        <!--<canvas #barCanvas></canvas>-->
        <div class="piechart">
          <div class="progress-wrapper">
            <round-progress
              [current]="75"
              [max]="100"
              [color]="'#C49846'"
              [background]="'#eaeaea'"
              [radius]="74"
              [stroke]="5"
              [rounded]="true"
              [clockwise]="false"
              [responsive]="false"
              [duration]="800"
              [animation]="'easeInOutQuart'"
              [animationDelay]="7"
            ></round-progress>
            <!--(onRender)="doSomethingWithCurrentValue($event)"-->

            <div class="piechart_text_year_left">{{getCurrentYear()}}</div>
            <div class="piechart_text_year_right">{{getLastYear()}}</div>

            <div class="piechart_text">Aproveitamento</div>
            <div class="piechart_text_percentage">{{getAproveitamento()}}%</div>

            <div class="piechart_text_left">
              <div class="faturamento_ano">Faturamento deste ano</div>
              <div>({{ getLastMonthName() }} - {{getCurrentYear()}})</div>
              <br/>
              <div class="faturamento_ano_price">R$ {{getTotalExtratosCurrentYear()}}</div>
            </div>

            <div class="piechart_text_right">
              <div class="faturamento_ano_anterior">Faturamento do ano anterior</div>
              <div>({{ getLastMonthName()}} - {{getLastYear()}})</div>
              <br/>
              <div class="faturamento_ano_anterior_price">R$ {{getTotalExtratosLastYear()}}</div>
            </div>

          </div>
        </div>

        <!-- END Charts -->
      </ion-row>
      <div class="topbartable"></div>
      <!-- Bottom Content -->

      <ion-row class="row" justify-content-center>
        <h5>Top 5 Clientes</h5>
      </ion-row>
      <ion-row class="row" justify-content-center>
        <div style="color: rgb(102, 182, 187);">{{getPreviousMonthName()}} 2018</div>
      </ion-row>
      <br/>
      <ion-row height="50%" *ngFor="let client of topFiveClients">
        <!--<canvas #lineCanvas></canvas>-->

        <ion-col col-6>
          <div style="text-align: right">
              <span style="color: rgb(102, 182, 187); font-size: 11px;">
            {{client.Name}}
              </span>
            <!--            <span style="font-weight: bold; font-size: 13px;" *ngIf="client.Surename.length > 7">
                        {{ client.Surename | slice:0:10 }} ...
                        </span>
                        <span style="font-weight: bold; font-size: 13px;" *ngIf="client.Surename.length <= 7">
                        {{ client.Surename }}
                        </span>-->

            <span style="font-weight: bold; font-size: 11px;">
            {{ client.Surename }}
            </span>

            <ion-icon name="arrow-round-up" class="icon-arrow" *ngIf="client.Increments"
                      style="text-align: right; color: rgb(68, 204, 130); font-weight: bold;"></ion-icon>
            <ion-icon name="arrow-round-down" class="icon-arrow" *ngIf="!client.Increments"
                      style="text-align: right; color: rgb(209, 52, 64); font-weight: bold;"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-6>
          <div
            style="width: 50%; background-color: #00253a; margin-top: 3px; height: 12px; display: list-item; float: left; list-style: none; border-radius: 15px 15px 15px 15px"
          ></div> <!--[ngStyle]="setWidthAmount(client.amount)"-->
          &nbsp;
          <span style="font-weight: bold;">
          R$ {{client.Amount}}
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- END Bottom Content -->

  </ion-grid>
</ion-content>
