<style>

  #chart {
    /*width: auto;*/
    width: 100%;
    height: 360px; /*220px*/
    /*margin: 10px auto 0;*/
    display: block;
    text-align: center;
  }

  #chart #numbers {
    height: 250px; /*100%*/
    width: 50px;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
  }

  #chart #numbers li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 29px;
    border-bottom: 1px solid #444;
    position: relative;
    bottom: 30px;
  }

  #chart #numbers li:last-child {
    height: 30px;
  }

  #chart #numbers li span {
    color: #eee;
    position: absolute;
    bottom: 0;
    right: 10px;
  }

  #chart #bars {
    display: inline-block;
    /*background: rgba(0, 0, 0, 0.2);*/
    width: auto; /*600px*/
    height: auto; /*250px*/
    padding: 0;
    margin: 0;
    /*box-shadow: 0 0 0 1px #444;*/
    /*box-shadow: 0 px 1 px 0 px 0 px #4499ee;*/
    border-bottom: 1px solid #4499ee;

    /*xx */
    margin-top: -13px;
  }

  #chart #bars li {
    display: table-cell;
    width: 100px;
    height: 190px; /*120px*/
    margin: 0;
    text-align: center;
    position: relative;
  }

  #chart #bars li .bar {
    display: block;
    width: 30px;
    margin-left: 35px; /*15px*/
    background: rgb(125, 175, 188);
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0 0;
  }

  #chart #bars li .bar:hover {
    background: #5AE;
    cursor: pointer;
  }

  #chart #bars li .bar:hover:before {
    color: white;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
  }

  #chart #bars li span {
    color: #eee;
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 0;
    text-align: center;
  }

  .dotted {
    border: 2px dotted #c49846;
    border-style: none none dashed;
    color: #fff;
  }

  /*xx*/
  /*  #chart #bars:after {
      border-top: 2px dashed #c49846;
      width: 60%;
      height: 50%;
      position: absolute;
      bottom: 0;
      left: 13%;
      content: '';
      z-index: -10;
    }*/

  .horizontal_dashed_line {
    border-bottom: 2px dashed #c49846;
    width: auto; /*60%*/
    margin-top: 3%;
    /*position: absolute;*/
    z-index: -1;
  }

  .horizontal_dashed_line_parent {
    width: 55%;
    float: left;
  }

  .month_dashed_title {
    width: 25%;
    float: left;
  }

  .month_dashed {
    margin-top: -20%;
    font-size: smaller;
    /*float: left;*/
  }

  .last_month_1 {
    bottom: -4em !important;
    font-size: smaller;
  }

  .last_month_2 {
    bottom: -5em !important;
    font-size: smaller;
  }

  .top_price {
    margin-bottom: 5px;
    z-index: 1;
    text-align: right;
  }

  .stats {
    position: absolute;
  }

  .dashed_line_parent_div {
    margin-top: 15%;
    position: absolute;
    width: 90%;
  }

</style>

<ion-header>
  <ion-navbar class="topBar" hideBackButton showMenuButton >
    <button ion-button menuToggle>
      <ion-icon class="menuIconBurger" name="menu"></ion-icon>
    </button>
    <ion-title><img id="topTitleImg" height="50px" src="assets/imgs/image-without-bg.png" class="thumb-img"/>
    </ion-title>
    <button ion-button menuToggle style="display:none;">
      <ion-icon class="menuIconBurger" name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
  <ion-row class="row" id="compName" justify-content-center ></ion-row>
  <br/>
  <!--<ion-row id="compName" justify-content-center> {{(profileData)?.companyName }} </ion-row>-->
  <ion-row id="compName" justify-content-center><h4>Nome Empresa</h4></ion-row>

  <!-- <div class="container"> -->
  <ion-grid class="main-container-grid">

    <!-- Start top bar -->
    <ion-row responsive-lg>
      <ion-grid id="threeItemBar">
        <!-- Table Headers -->
        <ion-row class="table-headers">
          <ion-col class="table-headers">
            FATURAMENTO
          </ion-col>
          <ion-col class="table-headers">
            IMPOSTOS
            PREVISTOS
          </ion-col>
          <ion-col class="table-headers">
            PRÓXIMO
            PAGAMENTO
          </ion-col>
        </ion-row>
        <!-- End table headers -->
        <!-- Table values -->
        <ion-row class="valuesTop">
          <ion-col class="valuesTop">
            R$ 0,00
          </ion-col>
          <ion-col class="valuesTop">
            R$ 0,00
          </ion-col>
          <ion-col class="valuesTop">
            DD/MM
            <br/>
            <span class="issqn">ISSQN</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <!-- END top bar -->

    <div class='row topbartable'></div>

    <!-- Top bar button -->
    <ion-row>
      <ion-grid id="threeItemBar">
        <ion-row class="table-headers">
          <ion-col></ion-col>
          <ion-col>
            <button data-action="false" class="unselectedDate" (click)="displayYearChart()">Este ano</button>
            <button data-action="true" class="selectedDate">Este mês</button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-row>
    <!-- End top bar button -->

    <!-- Middle content  -->
    <ion-grid>
      <ion-row height="50%">
        <!-- Charts -->
        <!--<canvas #barCanvas></canvas>-->

        <div id="chart" class="">

          <div class="dashed_line_parent_div">
            <div class="month_dashed_title">
              <div class="">Este mes</div>
              <br/>
              <div class="month_dashed">SET 2018
              </div>
            </div>
            <div class="horizontal_dashed_line_parent">
              <div class="horizontal_dashed_line"></div>
            </div>
            <div class="top_price">R$ 5.956</div>
          </div>

          <ul id="bars">
            <li>
              <div data-percentage="40" class="bar"></div>
              <span>AGO 2018</span>
              <!--<br/>-->
              <span class="last_month_1">Més anterior</span>
            </li>
            <li>
              <div data-percentage="70" class="bar"></div>
              <span>SET 2017</span>
              <!--<br/>-->
              <span class="last_month_2">Mismo mes no ano anterior</span>
            </li>
          </ul>
        </div>

        <!-- END Charts -->
      </ion-row>
      <div class="topbartable"></div>
      <!-- Bottom Content -->

      <ion-row class="row" justify-content-center>
        <h4>Top 5 Clientes</h4>
      </ion-row>
      <ion-row class="row" justify-content-center>
        <div style="color: rgb(102, 182, 187);">Setembro 2018</div>
      </ion-row>
      <br/>
      <ion-row height="50%" *ngFor="let client of clients">
        <!--<canvas #lineCanvas></canvas>-->

        <ion-col col-6>
          <div style="text-align: right">
              <span style="color: rgb(102, 182, 187);">
            {{client.name}}
              </span>
            <span style="font-weight: bold;">
            {{client.surename}}
            </span>
            <ion-icon name="arrow-round-up" class="icon-arrow" *ngIf="client.increments"
                      style="text-align: right; color: rgb(68, 204, 130); font-weight: bold;"></ion-icon>
            <ion-icon name="arrow-round-down" class="icon-arrow" *ngIf="!client.increments"
                      style="text-align: right; color: rgb(209, 52, 64); font-weight: bold;"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-6>
          <div
            style="width: 60%; background-color: #00253a; margin-top: 3px; height: 12px; display: list-item; float: left; list-style: none; border-radius: 15px 15px 15px 15px"
          ></div> <!--[ngStyle]="setWidthAmount(client.amount)"-->
          &nbsp;
          <span style="font-weight: bold;">
          {{client.amount}}
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- END Bottom Content -->

  </ion-grid>
</ion-content>
