page-list {
    background: linear-gradient(135deg, #002336 0%,#003f5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: color($colors, light);
}
.item-note{
    background: transparent;
}