page-clients {
    .select-md {
        padding: 0px 8px 13px 16px;
      }
      .client-row{
        background-color: #1f3e51;
        border-radius: 28px;
        height: 7%;
    }
    .month-drp{
        background-color: #151f25;
        border-radius: 28px;
        height: 29px;
    }
    .label-md {
        margin: 1px 4px 1px 0;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid !important;
    }
    .icon-arrow{
        padding-top: 7px;
         margin-right: 9px;
          font-weight: bold;
           color: green;
    }
    .item-inner{
        border: none; 
    }
    .item-ios.item-block .item-inner {
        padding-right: 8px;
        padding-right: 8px;
        border-bottom: 0px solid #c8c7cc;
    }
    .select-ios {
        padding: 5px 8px 7px 12px;
        
}
}