<style>
  .popover-color {
    background-color: #1f3e51;
  }

  .piechart {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9%;
  }

  .progress-wrapper {
    position: relative;
  }

  .piechart_text {
    margin-top: 0px;
    margin-left: 19px;
  }

  .piechart_text_percentage {
    margin-left: 51px;
    font-weight: bold;
    margin-top: -106px;
    font-size: 28px;
    color: #c49846;
  }

  .value-client {
    font-size: 12px;
  }

  .value-client {
    padding-top: 10px;
  }

  .search-button {
    padding: 0;
    float: right;
    line-height: 0;
  }

  .button-ios {
    background-color: #002e45 !important;
  }

  .search-button-img {
    width: 37px;
    margin-top: -14px;
  }

  .fontname {
    margin-top: 7px !important;
  }

  .back-button {
    margin-top: 0px !important;
    z-index: 99;
    font-size: 2.5em;
    color: #b18619;
  }

  .searchbar-ios {
    border-radius: 25px;
  }

  .searchbar-ios .searchbar-input {
    border-radius: 25px !important;
  }

  /*pasar a html en index*/
  .button-md {
    background-color: transparent;
  }

  .cliente-en-alerta {
    font-size: 11px;
  }

</style>

<ion-header>
  <ion-navbar class="topBar" hideBackButton showMenuButton>
    <button ion-button menuToggle>
      <ion-icon class="menuIconBurger" name="menu"></ion-icon>
    </button>
    <ion-title><img id="topTitleImg" height="50px" src="assets/imgs/image-without-bg.png" class="thumb-img"/>
    </ion-title>
    <button ion-button menuToggle style="display:none;">
      <ion-icon class="menuIconBurger" name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">
  <ion-row class="row" id="compName" justify-content-center="">
    <ion-col (click)="goBack();" *ngIf="!isSearchBarOpened">
      <ion-icon name="md-arrow-back" style="z-index:99; font-size: 2.5em; color: #b18619 ;margin-top: -0px;"></ion-icon>
    </ion-col>

    <ion-col class="fontname" *ngIf="!isSearchBarOpened">Top Clientes</ion-col>

    <ion-col *ngIf="isSearchBarOpened">
      <!-- <ion-searchbar [ngModel]="txtSearch" showCancelButton="true" animated="true" placeholder="Procurar clientes"
                      (ionCancel)="isSearchBarOpened=false"></ion-searchbar>-->
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterClients()" showCancelButton="true" animated="true"
                     placeholder="Procurar clientes" (ionCancel)="isSearchBarOpened=false"></ion-searchbar>
    </ion-col>

    <ion-col *ngIf="!isSearchBarOpened">
      <ion-buttons end>
        <button ion-button icon-only *ngIf="!isSearchBarOpened" (search)="onSearch($event)"
                (click)="isSearchBarOpened=true">
          <!--<ion-icon name="search"></ion-icon>-->
          <img src="./assets/imgs/search-icon.png" class="search-button-img"/>
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>

  <ion-row>

    <ion-col></ion-col>

    <div class="selectButtonContainer">
      <ion-select class="month-drp" interface="popover" (ionChange)="onChange($event)">
        <ng-container *ngFor="let month of months">
          <ion-option *ngIf="!month.actMonth" [value]="month" class="popover-color">{{month.month}} {{month.year}}
          </ion-option>
          <ion-option *ngIf="month.actMonth" selected [value]="month" class="popover-color">{{month.month}}
            {{month.year}}
          </ion-option>
        </ng-container>
      </ion-select>
    </div>

    <ion-col></ion-col>
  </ion-row>

  <ion-item *ngFor="let e of filteredTopTenClients" class="client-row" (click)="viewClient(e);">
    <div class="row" style="width: 100%">
      <ion-icon name="arrow-round-up" class="icon-arrow" *ngIf="e.Client.Increments"
                style="text-align: right; color: rgb(68, 204, 130); font-weight: bold;"></ion-icon>
      <ion-icon name="arrow-round-down" class="icon-arrow" *ngIf="!e.Client.Increments"
                style="text-align: right; color: rgb(209, 52, 64); font-weight: bold;"></ion-icon>
      <div class="col name-client "> {{e.Client.Name | slice:0:18}}.</div>
      <div class="col value-client">R$ {{e.TotalNFe}}</div>
      <!--<div class="col percent-clients">{{ e.Client.Percentage }}%</div>-->
      <ion-icon name="arrow-dropright" style="padding: 6px; margin-top: 5px; color: #ffffff;"></ion-icon>
    </div>
  </ion-item>

  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8 class="text-centered">
      Clientes em alerta:
      <br/>
      <span style="color:#c49846;">1.</span> <span style="">Surgeon Com De Mat Cirurgico</span><br/>
      <span style="color:#c49846;">2.</span> <span style="">Icafe Do Sul Com Varej De V.</span> <br/>
      <span style="color:#c49846;">3.</span> <span style="cliente-en-alerta">Valen Bar E Rest Ltda Epp</span> <br/>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>

  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-buttons end>
        <button ion-button icon-only (click)="displayClientesEmAlerta()">
          <!--<img src="./assets/imgs/search-icon.png" class="search-button-img"/>-->
          <span>Ver detalhes</span>
        </button>
      </ion-buttons>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <!-- <ion-row height="50%" style="margin-top: 25px; margin-bottom: 15px;">
     &lt;!&ndash; Charts &ndash;&gt;
     &lt;!&ndash;<canvas #barCanvas></canvas>&ndash;&gt;
     <div class="dashboardyear">
       <div class="progress-wrapper">
         <round-progress
           [current]="25"
           [max]="100"
           [color]="'#C49846'"
           [background]="'#eaeaea'"
           [radius]="74"
           [stroke]="5"
           [rounded]="true"
           [clockwise]="false"
           [responsive]="false"
           [duration]="800"
           [animation]="'easeInOutQuart'"
           [animationDelay]="7"
         ></round-progress>

         <div class="piechart_text_percentage">25%</div>
         <div class="piechart_text">faturamento total</div>

       </div>
     </div>

     &lt;!&ndash; END Charts &ndash;&gt;
   </ion-row>-->

</ion-content>
