<style>
  .menu-title {
    font-size: 15px;
    float: left;
    margin: 6px 4px;
  }

  .menu-icon {
    float: left;
    width: 30px;
  "
  }
</style>

<ion-menu [content]="content" class="bg-style">
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="bg-style">
    <ion-list>

      <button menuClose ion-item *ngFor="let p of pages" class="side-bar" (click)="openPage(p)">
        <img src="{{p.icon}}" class="menu-icon"/>
        <div class="menu-title">{{p.title}}</div>

        <!--<ion-icon name={{p.dowload}} style="color: #d29d1a;"></ion-icon>-->
      </button>
    </ion-list>

    <ion-list>

      <button menuClose ion-item *ngFor="let p of bottomMenu" class="side-bar" style="border-top: 0;"
              (click)="openPage(p)">
        <img src="{{p.icon}}" class="menu-icon"/>
        <div class="menu-title">{{p.title}}</div>

        <!--<ion-icon name={{p.dowload}} style="color: #d29d1a;"></ion-icon>-->
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
