<ion-header>
  <ion-navbar class="topBar" hideBackButton showMenuButton>
    <button ion-button menuToggle>
      <ion-icon class="menuIconBurger" name="menu"></ion-icon>
    </button>
    <ion-title><img id="topTitleImg" height="50px" src="assets/imgs/image-without-bg.png" class="thumb-img"/>
    </ion-title>
    <button ion-button menuToggle style="display:none;">
      <ion-icon class="menuIconBurger" name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row class="row" id="compName" justify-content-center="" style="margin-top: 10px;font-size: larger;">
    <ion-col col-2></ion-col>
    <ion-col col-8 class="metas-title" align-items-center justify-content-center>Meta</ion-col>
    <ion-col col-2></ion-col>
  </ion-row>
  <ion-row class="row" id="compName" justify-content-center style="margin-top: 10px;font-size: larger;"></ion-row>
  <br/>

  <ion-row id="compName" justify-content-center>
    <ion-col col-1 (click)="viewPreviousCompany();" *ngIf="globals.CURRENT_PAGE > 0">
      <ion-icon name="md-arrow-back"
                style="z-index:99; font-size: 2.5em; color: #b18619 ;margin-top: -0px;"></ion-icon>
    </ion-col>
    <ion-col col-10 style="text-align: center; margin-top: 11px; color: white;">
      <h6>{{companyName}}</h6>
    </ion-col>
    <ion-col col-1 (click)="viewNextCompany();" *ngIf="globals.CURRENT_PAGE < globals.NUMBER_OF_COMPANIES">
      <ion-icon name="md-arrow-forward"
                style="z-index:99; font-size: 2.5em; color: #b18619 ;margin-top: -0px;"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <div class="selectButtonContainer">
        <ion-select class="month-drp" interface="popover">
          <ng-container *ngFor="let month of months">
            <ion-option *ngIf="!month.actMonth" [value]="month" class="popover-color">{{month.month}} {{month.year}}
            </ion-option>
            <ion-option *ngIf="month.actMonth" selected [value]="month" class="popover-color">{{month.month}}
              {{month.year}}
            </ion-option>
          </ng-container>
        </ion-select>
      </div>
    </ion-col>

    <ion-col></ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-4>
      <span class="client-name">Meta Cliente</span>
    </ion-col>
    <ion-col col-8>
      <progress-bar [progress]="loadProgress" class="progress-bar"></progress-bar>
    </ion-col>

    <ion-col col-4>
      <span class="client-name">Meta Cliente</span>
    </ion-col>
    <ion-col col-8>
      <progress-bar [progress]="loadProgress" class="progress-bar"></progress-bar>
    </ion-col>

    <ion-col col-4>
      <span class="client-name">Meta Cliente</span>
    </ion-col>
    <ion-col col-8>
      <progress-bar [progress]="loadProgress" class="progress-bar"></progress-bar>
    </ion-col>

    <ion-col col-4>
      <span class="client-name">Meta Cliente</span>
    </ion-col>
    <ion-col col-8>
      <progress-bar [progress]="loadProgress" class="progress-bar"></progress-bar>
    </ion-col>

    <ion-col col-4>
      <span class="client-name">Meta Cliente</span>
    </ion-col>
    <ion-col col-8>
      <progress-bar [progress]="loadProgress" class="progress-bar"></progress-bar>
    </ion-col>

    <ion-col col-4>
      <span class="client-name">Meta Cliente</span>
    </ion-col>
    <ion-col col-8>
      <progress-bar [progress]="loadProgress" class="progress-bar"></progress-bar>
    </ion-col>

    <ion-col col-4>
      <span class="client-name">Meta Cliente</span>
    </ion-col>
    <ion-col col-8>
      <progress-bar [progress]="loadProgress" class="progress-bar"></progress-bar>
    </ion-col>

    <ion-col col-4>
      <span class="client-name">Meta Cliente</span>
    </ion-col>
    <ion-col col-8>
      <progress-bar [progress]="loadProgress" class="progress-bar"></progress-bar>
    </ion-col>

    <ion-col col-4>
      <span class="client-name">Meta Cliente</span>
    </ion-col>
    <ion-col col-8>
      <progress-bar [progress]="loadProgress" class="progress-bar"></progress-bar>
    </ion-col>

    <ion-col col-4>
      <span class="client-name">Meta Cliente</span>
    </ion-col>
    <ion-col col-8>
      <progress-bar [progress]="loadProgress" class="progress-bar"></progress-bar>
    </ion-col>

  </ion-row>

</ion-content>
