page-client {
    .cliNameLabel{
        color : rgb(124, 174, 187);
        font-weight: lighter;
        font-size: smaller;
    }

    .title-ClientName{
        vertical-align: middle;
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
    }
    .back-arrow{
        color : color($colors, lineGold);
    }
    ion-label{
        font-size: 1.25rem;
    }

    .tributo-row{
        background-color: #1f3e51;
        border-radius: 12px;
        height: 15%;
        text-align: center;

        }
        .tributo-abr{

            vertical-align: middle;
            text-transform: capitalize;
            font-weight: bold;
            text-align: center;
        }
        .back-arrow{
            color : color($colors, lineGold);
        }
        .tributo-value{
            text-transform: capitalize;
            font-weight: bold;
            text-align: center;
            font-size: 1.5rem;
        }

        .item-md.item-block .item-inner {
            padding-right: 8px;
            border-bottom: 0px solid #dedede;
        }
        ion-label{
            color : rgb(124, 174, 187);
            font-weight: lighter;
            font-size: smaller;
        }
        input{
            margin: 0px !important;
        }
        .tributo.paid{
            color : rgb(68, 204, 130) !important;
        }
        .label-md {
            margin: 4px 8px 10px 0;
        }
        .inputMeta{
            border-bottom: 1px solid;
            margin: 0;
        }
        .clientValuesFrame{
            margin-top : 7%;
            margin-bottom : 7%;
        }
        #establishMilestone{
            width: 49%;
            height: 1.5em;
            border-radius: 25px;
            background-color: gray;
        }
}
